body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* AUTH */
.auth-box {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.auth-buttons button {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.auth-buttons button:first-child {
  background: #22c55e;
}

.auth-buttons button:last-child {
  background: #3b82f6;
}

/* APP */
.app {
  width: 100%;
  max-width: 500px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.task-input {
  display: flex;
  margin: 15px 0;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px 0 0 6px;
}

.task-input button {
  padding: 10px;
  border: none;
  background: #22c55e;
  color: white;
  border-radius: 0 6px 6px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}